body{
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
    color: #97978D;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #97978D;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.section_header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}
.heder_block{
    margin: 0 auto;
}

.logo-image {
    width: 400px; /* Set the desired width */
    height:300px; /* Set the desired height */
}


.language{
    color: #97978D;
    margin-left: 10px;
    
}

.section {
    margin-bottom: 100px;
}
.object_header{
    margin-bottom: 30px;
}

.image {
    max-width: 340px;
    height: 226px;
}

/* Стили для объектов */
.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.property {
    width: calc(35% - 10px);
    padding-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
}
.property_desc{
    max-width: 500px;
    
}
.border{
    border: 1px solid #E7E7DE;
    width: 1000px;
    margin: 0 auto;
}
.footer{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

 
    @media all and (min-width: 1024px) and (max-width: 1280px) {
        .container{
            max-width: 800px;
        }
        .border{
            max-width: 700px;
        }
        
     }

    @media all and (min-width: 768px) and (max-width: 1024px) {
        
        .header_block{
           
            margin: 0 auto;
        }
        .logo-image{
            height: 80%;
            width: 80%;
            
        }
        .container{
    
            max-width: 600px;
        }
        .property {
            margin: 50 0 50px;
            width: calc(55% - 80px);
            padding-top: 30px;
            margin-bottom: 20px;
            text-decoration: none;
        }
       
    .image{
        height: 190px;
        width: 250px;
    }
        .border{
            max-width: 400px;
        }
        
     }
    
    @media all and (min-width: 480px) and (max-width: 768px) {
        body{
            font-size: 10px;
        }
        .logo-image{
            width: 150px;
            height: 120px;
        }
        .language{
            font-size: 10px;
        }
        .container{
            max-width: 300px;
        }
        .property {
            width: calc(85% - 10px);
            padding-top: 0px;
            margin-bottom: 20px;
            text-decoration: none;
        }
        .image{
            width: 300px;
            height: 200px;
        }
        .border{
            max-width: 300px;
        }
        
     }
    
    @media all and (max-width: 480px) { 
        .container{
            max-width: 300px;
        }
        .logo-image{
            width: 200px;
            height: auto;
        }
        body{
            font-size: 10px;
            font-family: 'Hind Siliguri', sans-serif;
        }
        .property {
            width: calc(85% - 10px);
            padding-top: 0px;
            margin-bottom: 20px;
            text-decoration: none;
        }
        .image{
            width: 300px;
            height: 200px;
        }
        .border{
            max-width: 300px;
        }
        
        
    }
    
