body{
    font-family: 'Prompt', sans-serif;
    margin: 0;
    line-height: 1.5;
    color: #97978D;
    text-decoration: none;
    background-color: white;
    text-align: justify;
}
a{
    text-decoration: none;
color: #97978D;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.section_header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.heder_block{
    margin: 0 auto;
}

.logo-image {
    width: 350px; /* Set the desired width */
    height:auto; 
    margin-left: 50px;

    
}
.section{
    margin-top: 50px;
    margin-bottom: 100px;
}

.language{
    margin-left: 10px;
}
.language_wrap{
    margin-right: 50px;
}

.image {
    max-width: 325px;
    height: 226px;
}

/* Стили для объектов */
.properties {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.container_header{
    max-width: 950px;
}


.property {
    width: calc(35% - 10px);
    margin-bottom: 20px;
    text-decoration: none;

}
.property_desc{
    max-width: 300px;
    text-align: left;
}
h3{
    font-size: 17.6px;
    text-align: left;
}
.border{
    border: 0.5px solid #97978D;
    width: 950px;
    margin: 0 auto;
}
.footer{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}
.footer_rekv{
    margin-top: 55px;
    margin-bottom: 30px;
}

 
    @media all and (min-width: 1024px) and (max-width: 1280px) {
        .container{
            max-width: 800px;
        }
        .border{
            max-width: 800px;
        }
        
     }

    @media all and (min-width: 768px) and (max-width: 1024px) {
        
        .header_block{
           
            margin: 0 auto;
        }
        .logo-image{
            height: 80%;
            width: 80%;
            
        }
        .container{
    
            max-width: 600px;
        }
        .property {
            margin: 50 0 50px;
            width: calc(55% - 80px);
            padding-top: 30px;
            margin-bottom: 20px;
            text-decoration: none;
        }
       
    .image{
        height: 190px;
        width: 250px;
    }
        .border{
            max-width: 600px;
        }
        
     }
    
    @media all and (min-width: 480px) and (max-width: 768px) {
        body{
            font-size: 10px;
        }
        .logo-image{
            width: 150px;
            height: 120px;
        }
        .language{
            font-size: 10px;
        }
        .container{
            max-width: 300px;
        }
        .property {
            width: calc(85% - 10px);
            padding-top: 0px;
            margin-bottom: 20px;
            text-decoration: none;
        }
        .image{
            width: 300px;
            height: 200px;
        }
        .border{
            max-width: 300px;
        }
        
     }
    
    @media all and (max-width: 480px) { 
        .container{
            max-width: 250px;
        }
        .logo-image{
            margin-left: 0;

            width:150px;
            height: auto;
        }
        body{
            font-size: 10px;
            font-family: 'Hind Siliguri', sans-serif;
        }
        .property {
            width: calc(85% - 10px);
            padding-top: 0px;
            margin-bottom: 20px;
            text-decoration: none;
        }
        .image{
            width: 250px;
            height: 180px;
        }
        .border{
            max-width: 250px;
        }
        
        
    }
    
