body{
font-family: 'Prompt', sans-serif;
    margin: 0;
    line-height: 1.5;
    color: #97978D;
    text-decoration: none;
    background-color:white ;
}
a{
    text-decoration: none;
    color: #97978D;
}
.container {
    max-width: 950px;
    margin: 0 auto;

}
.section_header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 50px;

}
.heder_block{
    margin: 0 auto;
}

.logo-image {
    width: 350px; /* Set the desired width */
    height:auto; 
    margin-left: 50px;

    
}


.language{
 
    margin-left: 10px;
}
.language_wrap{
    margin-right: 50px;
}
.slider {
    max-width: 680px;

}
.slider_item img {
    width: 680px;
    height: 460px;
    
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 15px;
 
}

.prev {
  left: 10px;
  z-index: 10000;
  content: '◀'; /* Заменено на символ стрелки */
}

.next {
  right:10px;
  content: '▶'; /* Заменено на символ стрелки */
}
.object_block{
    display: flex;
    margin-bottom: 100px;
    
}
.object_desc{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#F1F1E3  ;
    width: 450px;
    margin-left: 20px;
  


}

.border{
    border: 0.5px solid #97978D;
    width: 950px;
    margin: 0 auto;
}
.footer{
    margin-top: 100px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  
    .container{
       max-width: 800px;
    }
    .border{
        max-width: 800px;
    }
    .slider {
        max-width: 600px;
    }
    .slider_item img {
        width: 600px;
        height: 390px;
    }
    .object_desc{
        font-size: 12px;
    }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {
    .header_block{
           
        margin: 0 auto;
    }
    .logo-image{
        height: 80%;
        width: 80%;
        
    }
    .object_block{
        max-width: 600px;
        display: flex;
        flex-direction: column;
       }
    .object_desc{
        width: 560px;
        margin: auto    ; 
        margin-top: 30px; 
    }
    .logo-image{
        width: 250px;
        height: auto;
    }
    .container{
        max-width: 600px;
     }
     .border{
         width: 600px;
     }
     .slider {
         max-width: 600px;
         height: auto;
         padding: 0px;
     }
     .slider_item img {
         width: 600px;
         height: auto;
     }
    }

@media all and (min-width: 480px) and (max-width: 768px) {
   .heder_block{
    font-size: 12px;
   }
   .object_block{
    display: flex;
    flex-direction: column;
   }
   .footer{
    font-size: 12px;
   }
    .logo-image{
        width: 200px;
        height: auto;
    }
    .container{
        max-width: 360px;
     }
     .border{
         max-width: 360px;
     }
     .slider {
         max-width: 360px;
     }
     .slider_item img {
         width: 360px;
         height: 250px;
     }
     .prev,
     .next {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       width: 25px;
       height: 25px;
     
     color: white;
       text-align: center;
       line-height: 16px;
       cursor: pointer;
       border-radius: 10px;
       width: 15px;
       height: 15px;
      font-size: 8px;
     }
    .object_desc{
        font-size: 12px;
        max-width: 320px;
        margin: auto    ; 
        margin-top: 30px; 
    }
}

@media all and (max-width: 480px) {

   .object_block{
    display: flex;
    flex-direction: column;
   }
    .language{
        font-size: 10px;
       }
       .footer{
        font-size: 12px;
    
       }
        .logo-image{
            margin-left: 0;
            width: 150px;
            height: auto;
        }
        .container{
            max-width: 250px;
         }
         .border{
             max-width: 250px;
         }
         .slider {
             max-width: 250px;
         }
         .slider_item img {
             width: 250px;
             height: 180px;
         }
         .prev,
         .next {
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           width: 25px;
           height: 25px;
           
           text-align: center;
           line-height: 27px;
           cursor: pointer;
           border-radius: 7px;
         
          font-size: 12px;
         }
        .object_desc{

            margin-top: 30px;
            max-width: 210px;
            font-size: 13px;
         
        }
    
 }

