body{
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
    color: #97978d;
    text-decoration: none;
}
a{
    text-decoration: none;

}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.section_header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}
.heder_block{
    margin: 0 auto;
}

.logo-image {
    width: 400px; /* Set the desired width */
    height:300px; /* Set the desired height */
}


.language{
    color: black;
    margin-left: 10px;
}
.slider {
    max-width: 700px;
}
.slider_item img {
    width: 700px;
    height: 460px;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 15px;
 
}

.prev {
  left: 10px;
  z-index: 10000;
  content: '◀'; /* Заменено на символ стрелки */
}

.next {
  right:10px;
  content: '▶'; /* Заменено на символ стрелки */
}
.object_block{
    display: flex;
    margin-bottom: 100px;
}
.object_desc{
    padding-right: 10px;
    margin-left: 30px;
    padding-left: 20px;
    background-color: #ECECE4;
    width: 450px;
    color: black;

}
.border{

    border: 1px solid #E7E7DE;
    width: 1000px;
    margin: 0 auto;
}
.footer{
    margin-top: 100px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
    color: black;
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  
    .container{
       max-width: 800px;
    }
    .border{
        max-width: 800px;
    }
    .slider {
        max-width: 600px;
    }
    .slider_item img {
        width: 600px;
        height: 390px;
    }
    .object_desc{
        font-size: 14px;
    }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {
    body{
        font-size: 12px;
    }
    .logo-image{
        width: 250px;
        height: auto;
    }
    .container{
        max-width: 600px;
     }
     .border{
         max-width: 600px;
     }
     .slider {
         max-width: 450px;
     }
     .slider_item img {
         width: 450px;
         height: 300px;
     }
    }

@media all and (min-width: 480px) and (max-width: 768px) {
   .heder_block{
    font-size: 12px;
   }
   .footer{
    font-size: 12px;
   }
    .logo-image{
        width: 200px;
        height: auto;
    }
    .container{
        max-width: 360px;
     }
     .border{
         max-width: 360px;
     }
     .slider {
         max-width: 250px;
     }
     .slider_item img {
         width: 250px;
         height: 180px;
     }
     .prev,
     .next {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       width: 25px;
       height: 25px;
     
     color: white;
       text-align: center;
       line-height: 16px;
       cursor: pointer;
       border-radius: 10px;
       width: 15px;
       height: 15px;
      font-size: 8px;
     }
    .object_desc{
        font-size: 6px;
    }
}

@media all and (max-width: 480px) {

   .object_block{
    display: flex;
    flex-direction: column;
   }
    .language{
        font-size: 10px;
       }
       .footer{
        font-size: 12px;
    
       }
        .logo-image{
            width: 200px;
            height: auto;
        }
        .container{
            max-width: 300px;
         }
         .border{
             max-width: 300px;
         }
         .slider {
             max-width: 300px;
         }
         .slider_item img {
             width: 300px;
             height: 200px;
         }
         .prev,
         .next {
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           width: 25px;
           height: 25px;
           
           text-align: center;
           line-height: 27px;
           cursor: pointer;
           border-radius: 7px;
         
          font-size: 12px;
         }
        .object_desc{

            margin-top: 30px;
            max-width: 280px;
            font-size: 13px;
            padding-left: 20px;
    
            margin-left: 0px;
            padding-right: 0px;
        }
    
 }

